*{
  margin: 0;
  padding: 0;
}

.content{
  display: flex;
  padding: 10vw;
}

.grid{
  display: grid;
  width: 700px;
  height: 700px;
}


.grid-element{
  text-align: center;
  border: 1px solid gainsboro;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

