*{
  margin: 0;
  padding: 0;
}

.grid{
  display: grid;
  width: 700px;
  height: 700px;
}


.grid-element{
  text-align: center;
  border: 0.1px dotted black;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

